*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #262626;
  outline: none;
  letter-spacing: 1px;
  align-items: center;
}
body{
  overflow-y: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.butn{
  width: 20px;
  background: red;
  height: 20px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}
.line1, .line2{
  width: 25px;
  height: 3px;
  background: #262626;
  margin: 5px;
  border-radius: 5px;
}
.line1{
  transform: rotate(-45deg) translate(-3px, 3px);
}
.line2{
  transform: rotate(45deg) translate(-3px, -3px);
}
.backc{
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navc{
  cursor: pointer;
  transition: .3s ease-in-out;
}
.navc:hover{
  transform: rotate(90deg);
}
.ccontainer{
  display: flex;
  flex-direction: column;
  height: 88vh;
}
h3{
  font-size: 30px;
  margin: 30px;
  margin-left: 0;
  margin-top: 0;
  font-weight: 800;
}
input, textarea{
  font-family: Montserrat;
  text-align: left;
  margin-bottom: 15px;
  font-size: 19px;
  padding: 10px;
  padding-left: 0;
  color: black;
  width: 800px;
  max-width: 800px;
  border: none;
  border-bottom: 2px solid #fcc15d;
  transition: .1s ease-in;
  font-weight: 800;
}
input:focus {
  padding: 15px;
}
textarea:focus {
  padding: 15px;
}
.box{
  display: flex;
  flex-direction: column;
}
h4{
  text-align: left;
  width: 100%;
  padding: 0 15px;
  padding-left: 0;
}
button{
  width: 100px;
  height: 50px;
  text-align: center;
  background: #fcc15d;
  color: #262626;
  border: none;
  font-weight: 900;
  letter-spacing: 1px;
  transition: .1s ease;
}
button:active{
  transform: scale(0.9);
}
.form{
  display: none;
  opacity: 0;
  transform: translateY(-100%);
  transition: .3s ease;
}

.form-active{
  display: block;
  opacity: 1;
  transform: translateY(0%);
}






nav{
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin:  auto;
  padding: 25px 40px;
  max-width: 1240px;
}
li{
  display: inline-block;
  margin-right: 30px;
}
li .a1{
  font-weight: 600;
  font-size: 19px;
  font-family: Montserrat;
}
.a1:hover{
  background: #fcc15d;
  transition: .2s ease;
}
.burger div{
  width: 27px;
  height: 3px;
  background-color: #262626;
  margin: 7px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
h1 {
  max-width: 400px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 4em;
  border-bottom: 2px #FD5052 solid;
}
p{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 10px;
}
span{
  font-weight: 600;
}
.display{
  display: block;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
  transition: all 0.2s ease-in-out;

}
.holder{
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-changer{
  width: 21px;
  height: 4px;
  background: #FD5052;
  border-radius: 5px;
}
.lineright{
  width: 2px;
  height: 30px;
  background: #FD5052;
  transform: translate(0%, -100%);
}
.rotated{
  transform: rotateZ(90deg);
  margin: 0 8rem 0 0;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.fholder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  margin: auto;
  max-width: 1240px;

}
.social{
  display: flex;
  align-items: center;
}
h2{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
}
.nav-links{
  justify-content: space-around;
  display: flex;
  transform: translateX(0%);

}
.burger{
  display: none;
}
@media screen and (max-width: 1070px) {
  .content-changer{
    display: none;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  nav{
  }
  .burger{
    display: block;
    cursor: pointer;
    z-index: 10;
  }
  .nav-links{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    transition: 0.4s ease-out;
  }
  .back{
    position: absolute;
    right: 0px;
    top: 10vh;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
  }
  .l1, .l2, .l3{
    width: 25px;
    height: 3px;
    background: #262626;
    margin: 5px;
    border-radius: 5px;
  }
}
.container-desa{
  transform: scale(0.9);
  opacity: 0;
}
.nav-active{
  transform: translateX(0%);
}
.toggle .l1{
  transform: rotate(-45deg) translate(-4px, 3px);
}
.toggle .l2{
  transform: rotate(45deg) translate(-4px, -3px);
}
@keyframes NavlinkFade {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
